/* Override this file to customise the theme's CSS for your site */

:root {
	--h2-margin-top: 2.4rem;
	--h2-margin-bottom: .3rem;
}

.block {
	display: block;
	}
	
.no-margin {
	margin: 0 !important;
}

.post {
	/*margin-top: 2rem;*/
	margin-bottom: 2rem;
	transition: transform .2s, background-color .2s;
	position: relative;
	/*padding-left: 1rem;
	border-left: solid 2px var(--base03);*/
	}
	
.post h2 span, .post .truncator {
	transition: color .2s;
	/*text-decoration: underline;*/
	color: var(--base0D);
}

.post h2::before {
	transition: color .2s;
}
	
.post__summary {
	transition: border-left .2s;
	}	
	
.post:hover {
	background-color: var(--hover-post);
}

.post:hover .post__summary {
	border-left-color: var(--hover);
}

.post:hover span.post_title {
	color: var(--hover);
}


.post__intro {
	color: var(--off-fg);
	/*font-size: .875rem;*/
}


.page__body::after {
	display: block;
	border-bottom: solid 1px var(--muted);
	padding: .2rem;
	width: 50%;
	margin: auto;
	content: '';
}


#post_entry {
	/*margin-top: var(--h2-margin-top);*/
	margin: var(--h2-margin-top) 0 1rem 0;
  	/*border-bottom: solid 1px var(--muted);*/	
}

#post_entry #content_intro {
	color: var(--hn);
}

.page__body h1 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
	

/*
#post_entry::after {
	display: block;
	padding: .5rem;
	border-bottom: solid 1px var(--muted);
	width: 50%;
	margin: auto;
	content: '';
}
*/
	

	


.article_link {
	display: block;
	text-decoration:none;
	color: unset !important;	
}

.aside_overview_links {
	background: var(--link);
	opacity: 0.90;
	padding:0.25rem;
	color: #fff !important;
	text-decoration: none;
	font-size: 14px;
  }
  
.aside_post_catag {
	background: var(--inner-bg);
	opacity: 0.90;
	padding:0.25rem;
	color: #fff !important;
	text-decoration: none;
}
  
.aside_overview_links:hover {
	background: var(--hover);
}
  
.overview-container {
	line-height: 2.25rem;
}

.content__body {
	margin-top: .3rem;
}

.content__body h2, .content__body h3 {
	margin: var(--h2-margin-top) 0 var(--h2-margin-bottom) 0;
}



#toc_mobile_container label.about__title {
	font-weight: bold;
}

#toc_mobile_container label.about__title::after {
	content: '  \25BC';
	color: var(--muted);
}

#toc_toggle {
	display: none;
}
#toc_mobile_view {
	display: none;
}

#toc_toggle:checked + #toc_mobile_view {
	display: block;
}

a {
	text-decoration: none;
}

#content_intro {
}

#TableOfContents {
	font-size: 14px;
}

#TableOfContents ul li::marker {
    /*content: '∗\00A0';*/
    display: none;
    content: '';
}

#TableOfContents ul {
	padding: 0;
}

.post header, .post.pinned.aside header {
	display: flex;
	flex-direction: column;	
}

.post header span.date, .post.pinned.aside header span.date {
	flex: 0 0 0rem;
}

.post.pinned {
	margin: 0;
	font-size: 14px;
}

.post.pinned header {
	flex-direction: row;
}

.post.pinned .date {
	flex: 0 0 6rem;
}

.post.pinned.aside {
	margin: 0 0 .8rem 0;
}


.margin-bottom-1 {
	margin-bottom: 1rem;
}

span.post_title {
	color: var(--link);
}


@media (min-width: 45rem) {
	#post_entry {
		/*margin-top: var(--h2-margin-top);*/
		margin: var(--h2-margin-top) 0 1rem 0;
	  	/*border-bottom: solid 1px var(--muted);*/
	  	border-bottom: none;
	}
	
	.post.pinned .date {
		flex: 0 0 6.5rem;
	}
	
	.post header {
		flex-direction: row;
		justify-content: flex-start;
	}
	
	.post header span.date {
		flex: 0 0 6.5rem;
	}
	
	.page__body::after {
		display: none;
	}
	
}

.post .date {
	color: var(--off-fg);
	font-size: .875rem;
}

small.small {
	color: var(--muted);
	margin-bottom: .5rem;
	display: block;
	margin-top: -2px;
	}

#welcome {
	font-size: 14px;
}

.advertisement {
	border-top: solid 2px var(--logo09);
	padding-top: 1rem;
}

body {
	padding: 0 .2rem 0 .2rem;
}



