/* Override this file to customise the theme's CSS for your site */

.block {
	display: block;
	}

.post {
	/*margin-top: 2rem;*/
	margin-bottom: 3rem;
	transition: transform .2s;
	/*padding-left: 1rem;
	border-left: solid 2px var(--base03);*/
	}
	
.post h2 span, .post .truncator {
	transition: color .2s;
	text-decoration: underline;
	color: var(--base0D);
}

.post h2::before {
	transition: color .2s;
}
	
.post__summary {
	padding-left: 1rem;
	border-left: solid 2px var(--base03);
	transition: border-left .2s;
	}
	
.post:hover .post__summary {
	border-left-color: var(--hover);
}

.post:hover h2 span, .post:hover h2::before, .post:hover .truncator {
	color: var(--hover);
}


.post__intro {
	font-weight: bold;
	margin-bottom: 1rem;
}
	
small.small {
	color: var(--base03);
	margin-bottom: .5rem;
	display: block;
	}
	
.advertisement {
	border-top: solid 1px #333;
	padding-top: 1rem;
}

.article_link {
	display: block;
	text-decoration:none;
	color: unset !important;	
}

.aside_overview_links {
	background: var(--link);
	opacity: 0.90;
	padding:0.25rem;
	color: #fff !important;
	text-decoration: none;
  }
  
.aside_overview_links:hover {
	background: var(--hover);
}
  
.overview-container {
	line-height: 2.25rem;
}
