/* Main menu */
.main-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 0.5rem 1rem;
    list-style-type: none;
}

.main-nav li {
    text-transform: lowercase;
    border-bottom: solid 2px var(--link);
}

.main-nav li.main-nav__item {
	padding: .25rem;
	color: var(--hn);
}

.main-nav li.main-nav__item:hover {
	background-color: var(--muted);
	border-bottom-color: var(--hover);
}

.main-nav li.main-nav__item::before {
    content: "cd ";
    color: var(--highlight);
    font-weight: bold;
}

